In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import math

import acquire as a
import prepare as p

### Stakeholder:

VP of Product: Which product line should we expand?

- Is there a product category that is particularly profitable for us?
- Does one or another stand out in terms of sales volume?
- Does this vary by customer segment?

In [2]:
df = a.get_superstore_data()

In [3]:
df = p.prepare_superstore(df)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1734 entries, 2014-01-04 to 2017-12-30
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    1734 non-null   object
 1   Order ID       1734 non-null   object
 2   Ship Date      1734 non-null   datetime64[ns]
 3   Ship Mode      1734 non-null   object
 4   Segment        1734 non-null   object
 5   Country        1734 non-null   object
 6   City           1734 non-null   object
 7   State          1734 non-null   object
 8   Postal Code    1734 non-null   float64
 9   Sales          1734 non-null   float64
 10  Quantity       1734 non-null   float64
 11  Discount       1734 non-null   float64
 12  Profit         1734 non-null   float64
 13  Category       1734 non-null   object
 14  Sub-Category   1734 non-null   object
 15  Customer Name  1734 non-null   object
 16  Product Name   1734 non-null   object
 17  Region Name    1734 non-null   object
 18  Sales Total    1734 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 270.9+ KB

In [5]:
df.describe() .T

,count,mean,std,min,25%,50%,75%,max
Postal Code,1734.0,53501.926182,32180.245224,1841.0000,19143.0000,50315.00000,85705.00000,98661.000
Sales,1734.0,229.206358,532.862614,1.0800,16.6950,52.24500,209.91750,8159.952
Quantity,1734.0,3.794694,2.297407,1.0000,2.0000,3.00000,5.00000,14.000
Discount,1734.0,0.160110,0.206419,0.0000,0.0000,0.20000,0.20000,0.800
Profit,1734.0,21.880351,202.891949,-3839.9904,1.7024,8.07305,27.41445,3177.475
Sales Total,1734.0,1197.630083,3635.417038,1.2480,46.4560,172.47600,774.37900,65279.216

In [6]:
df.isna().sum()

Customer ID      0
Order ID         0
Ship Date        0
Ship Mode        0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Sales            0
Quantity         0
Discount         0
Profit           0
Category         0
Sub-Category     0
Customer Name    0
Product Name     0
Region Name      0
Sales Total      0
dtype: int64

In [10]:
df.nunique()

Customer ID       525
Order ID          841
Ship Date         608
Ship Mode           4
Segment             3
Country             1
City              247
State              41
Postal Code       306
Sales            1504
Quantity           14
Discount           12
Profit           1589
Category            3
Sub-Category       17
Customer Name     525
Product Name     1091
Region Name         4
Sales Total      1536
dtype: int64

In [11]:
df['Profitable'] = df.Profit > 0

In [ ]:
df.Profitable.sum